<section class="section">
    <div class="container">
        <h1 class="title">
            About
        </h1>
        <p class="subtitle">
            Notes App is a simple app with <strong>Nodejs</strong> and <strong>MongoDB</strong>!
        </p>
    </div>
</section>