<section class="section">
    <div class="container">
        <h1 class="title">
            Welcome to Note Apps
        </h1>
        <p class="subtitle">
            Simple app with <strong>Nodejs</strong> and <strong>MongoDB</strong>!
        </p>
    </div>
</section>