<section class="section">
    <div class="container">
        <h1 class="title">
            Este es tu perfil
        </h1>
        <p class="subtitle">
            Aquí podrás editar tus preferencias.
        </p>
    </div>
</section>